fastapi
uvicorn
python-multipart
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
openpyxl
python-dotenv
reportlab
pillow
pymupdf
requests
supabase

python-docx
pdfplumber
python-pptx
python-multipart
